# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [3]:
import pandas as pd
import numpy as np

# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers

df = pd.DataFrame(np.random.randint(1, 100, size=(6,4)), columns=['A','B', 'C', 'D'])
print("Orignal DataFrame:")
print(df)

# Set the index to be the first column

df.set_index('A', inplace=True)
print("DataFrae with new index")
print(df)

Orignal DataFrame:
    A   B   C   D
0  37  17  50  87
1  59  69  64  50
2  14  32   6   6
3   7  85  48  65
4  67  79  18  51
5  28  48  22  62
DataFrae with new index
     B   C   D
A
37  17  50  87
59  69  64  50
14  32   6   6
7   85  48  65
67  79  18  51
28  48  22  62

In [4]:
# Create a pandas Dataframe with sepcified column and index
df = pd.DataFrame(np.random.randint(1,100, size = (3,3)), columns= ['A','B','C'], index=['X','Y','Z'])
print("Orignal DataFrame")
print(df)

# Access the element at row 'Y' and comlumn 'B'
element = df.at['Y', 'B']
print(element)

Orignal DataFrame
    A   B   C
X  94  10  60
Y  35  80  68
Z  83  76  81
80

In [7]:
# Create a panadas Dataframe with 3 column and 5 rows filled with random integers 

df = pd.DataFrame(np.random.randint(1,100, size=(5,3)), columns=['A','B','C'])
print("Orignal Dataframe")
print(df)

# Add a new column that is the product of the first two columns
df['D'] = df['A'] * df['B']
print("DataFrame with new column:")
print(df)

Orignal Dataframe
    A   B   C
0  35  25   6
1   4  24  82
2  89  22  39
3  21  97  35
4  96  61  99
DataFrame with new column:
    A   B   C     D
0  35  25   6   875
1   4  24  82    96
2  89  22  39  1958
3  21  97  35  2037
4  96  61  99  5856

In [12]:
# Create a pandas DataFrame with 3 columns and 4 rows filled with column random integers
df = pd.DataFrame(np.random.randint(1,100, size=(4,3)), columns = ['A','B','C'])
print(df)

# Compute the row-wise and column-wise sum
row_sum = df.sum(axis=1)
column_sum = df.sum(axis=0)

print("Row wise sum:")
print(row_sum)
print("Column-wise sum:")
print(column_sum)

    A   B   C
0  30  96  45
1  29  41  57
2  40  33   3
3  90  62  45
Row wise sum:
0    171
1    127
2     76
3    197
dtype: int64
Column-wise sum:
A    189
B    232
C    150
dtype: int64

In [ ]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers 
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, size = (5,3)), columns=['A','B','C'])
print("Orignal DataFrame:")
print(df)

# Introduce some NAN Values 
df.iloc[0,1] = np.nan
df.iloc[2,2] = np.nan
df.iloc[4,0] = np.nan
print("DataFrame with NaN Values:")
print(df)

# Fill the NaN values with the mean of the respective values 
df.fillna(df.mean(), inplace=True)
print("DataFrane with NaN values filled")
print(df)

## df.T.fillna(df.T.mean()).T -- This transpose is used to fill NaN values in row basis
## .T at the end will change the matrix back after NaN is swapped

Orignal DataFrame:
    A   B   C
0  94  88  76
1  48  84  28
2  40  14  72
3  91  95  15
4  79  71   8
DataFrame with NaN Values:
      A     B     C
0  94.0   NaN  76.0
1  48.0  84.0  28.0
2  40.0  14.0   NaN
3  91.0  95.0  15.0
4   NaN  71.0   8.0
DataFrane with NaN values filled
       A     B      C
0  94.00  66.0  76.00
1  48.00  84.0  28.00
2  40.00  14.0  31.75
3  91.00  95.0  15.00
4  68.25  71.0   8.00

In [ ]:
# Create a Panadas Dataframe with 4 columns and 6 rows filled with random integers 

df = pd.DataFrame(np.random.randint(1,100, size = (6,4)), columns=['A','B','C','D'])
print("Orignal DataFrame:")
print(df)

# Introduce some NaN Values
df.iloc[1,2]=np.nan
df.iloc[2,2]=np.nan
df.iloc[3,0]=np.nan
print("DataFrame with NaN values:")
print(df)

## Drop the rows with any NaN values 
df.dropna(inplace=True) ## na = Not Available
print("DataFrame with NaN values dropped")
print(df)

Orignal DataFrame:
    A   B   C   D
0  35  70  79  77
1  41   4  59   4
2  11  30  83   2
3  83  94  16  39
4  79  11  82   4
5  61  57  89  69
DataFrame with NaN values:
      A   B     C   D
0  35.0  70  79.0  77
1  41.0   4   NaN   4
2  11.0  30   NaN   2
3   NaN  94  16.0  39
4  79.0  11  82.0   4
5  61.0  57  89.0  69
DataFrame with NaN values dropped
      A   B     C   D
0  35.0  70  79.0  77
4  79.0  11  82.0   4
5  61.0  57  89.0  69

In [25]:
# Create a pandas DataFrame with 2 column: 'Category' and 'Value'
df = pd.DataFrame({'Category': np.random.choice(['A','B','C'], size=10), 'Value':np.random.randint(1,100,size=10)})
print("Orignal DataFrame:")
print(df)

## Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category
Grouped = df.groupby('Category')['Value'].agg(['sum','mean'])
print("Grouped DataFrame")
print(Grouped)

Orignal DataFrame:
  Category  Value
0        A     89
1        C     44
2        C      4
3        C     17
4        B     36
5        C     56
6        A      3
7        A      2
8        A     95
9        A     61
Grouped DataFrame
          sum   mean
Category
A         250  50.00
B          36  36.00
C         121  30.25

In [26]:
## Create a pandas DataFrame with 3 column: 'Product', 'Category', and 'Sales'
df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size = 10), 'Category':np.random.choice(['A','B','C'], size=10), 'Sales': np.random.randint(1,100,size=10)})
print("Orignal DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the total sales for each category 
grouped = df.groupby('Category')['Sales'].sum()
print("Grouped DataFrame:")
print(grouped)

Orignal DataFrame:
  Product Category  Sales
0   Prod2        B     31
1   Prod3        B     30
2   Prod3        C     35
3   Prod1        B     47
4   Prod2        B     23
5   Prod2        A     75
6   Prod2        B     67
7   Prod2        C     17
8   Prod3        C     24
9   Prod1        B     81
Grouped DataFrame:
Category
A     75
B    279
C     76
Name: Sales, dtype: int64

In [27]:
# Create two pandas DataFrame with a common column 
df1 = pd.DataFrame({'Key': ['A','B','C','D'], 'Value1': np.random.randint(1,100,size=4)})
df2 = pd.DataFrame({'Key': ['A','B','C','E'], 'Value2': np.random.randint(1,100,size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Merge the DataFrames using the common column
merged = pd.merge(df1,df2, on='Key')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      17
1   B      19
2   C      87
3   D      57
DataFrame 2:
  Key  Value2
0   A      74
1   B      79
2   C      42
3   E      27
Merged DataFrame:
  Key  Value1  Value2
0   A      17      74
1   B      19      79
2   C      87      42

In [29]:
## Create two pandas DataFrame with different columns 
df1 = pd.DataFrame({'A':np.random.randint(1,100, size=3), 'B':np.random.randint(1,100, size=3)})
df2 = pd.DataFrame({'C':np.random.randint(1,100, size=3), 'D':np.random.randint(1,100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrame along the rows 
concat_rows = pd.concat([df1,df2], axis=0)
print("Concatenated DataFrame(Rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns 
concat_columns = pd.concat([df1,df2], axis=1)
print("Concatenated DataFrame(Column):")
print(concat_columns)

DataFrame 1:
    A   B
0  72  95
1  41  71
2  58  91
DataFrame 2:
    C   D
0  53  99
1   3  50
2  52  80
Concatenated DataFrame(Rows):
      A     B     C     D
0  72.0  95.0   NaN   NaN
1  41.0  71.0   NaN   NaN
2  58.0  91.0   NaN   NaN
0   NaN   NaN  53.0  99.0
1   NaN   NaN   3.0  50.0
2   NaN   NaN  52.0  80.0
Concatenated DataFrame(Column):
    A   B   C   D
0  72  95  53  99
1  41  71   3  50
2  58  91  52  80

In [33]:
# Create a Pandas DataFrame with a determine index and one column filled with random integers
date_rng = pd.date_range(start='2025-01-01', end='2025-12-31', freq='D')
df = pd.DataFrame(data_rng, columns=['date'])
df['data'] = np.random.randint(0,100,size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Orignal DataFrame:")
print(df)

# Resample the DataFrame to compute the monthly mean of the values 
monthly_mean = df.resample('M').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

Orignal DataFrame:
            data
date
2025-01-01    45
2025-01-02    64
2025-01-03    22
2025-01-04     6
2025-01-05    37
...          ...
2025-12-27    62
2025-12-28    81
2025-12-29    55
2025-12-30    29
2025-12-31    61

[365 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2025-01-31  37.096774
2025-02-28  57.035714
2025-03-31  56.000000
2025-04-30  45.466667
2025-05-31  60.419355
2025-06-30  53.133333
2025-07-31  47.903226
2025-08-31  65.161290
2025-09-30  47.000000
2025-10-31  48.096774
2025-11-30  43.200000
2025-12-31  56.483871

/var/folders/ts/13z74zl15tn6vql6_v6g2dzm0000gn/T/ipykernel_19949/4237040232.py:10: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

In [37]:
# Create a pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31'
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0,100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Orignal DataFrame:")
print(df)

# Compute the rolling mean with a window of 7 days 
rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

Orignal DataFrame:
            data
date
2021-01-01    71
2021-01-02    41
2021-01-03    34
2021-01-04    83
2021-01-05    72
...          ...
2021-12-27    58
2021-12-28    30
2021-12-29    75
2021-12-30     5
2021-12-31    77

[365 rows x 1 columns]
Rolling mean DataFrame:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  67.857143
2021-12-28  59.857143
2021-12-29  59.428571
2021-12-30  47.714286
2021-12-31  46.714286

[365 rows x 1 columns]

In [40]:
# Create a pandas DataFrame with a MultiIndex (hierarchical index)
arrays =[['A','B','C','D'],['One','Two','One','Two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1,100,size=(4,3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations 
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at category 'B' and SubCategory 'Two':")
print(df.loc[('B', 'Two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        One              68      98       4
B        Two               2      50      98
C        One              82      39      81
D        Two              50      83      10
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
One              68      98       4
Slicing at category 'B' and SubCategory 'Two':
Value1     2
Value2    50
Value3    98
Name: (B, Two), dtype: int64

In [43]:
# Create a pandas DataFrame with Multiindex consisting of 'Category' and 'SubCategory'
arrays = [['A','A','B','B','C','C'], ['One', 'Two', 'One', 'Two', 'One', 'Two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1,100, size=(6,3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex Dataframe:")
print(df)

# Compute the sum of values for each 'Category' and 'SubCategory'
sum_values = df.groupby(['Category','SubCategory']).sum()
print("Sum of Values")
print(sum_values)

MultiIndex Dataframe:
                      Value1  Value2  Value3
Category SubCategory
A        One              73      61      91
         Two              36      47      83
B        One              33      15       2
         Two              98      64      10
C        One              30      52      79
         Two              90      35      46
Sum of Values
                      Value1  Value2  Value3
Category SubCategory
A        One              73      61      91
         Two              36      47      83
B        One              33      15       2
         Two              98      64      10
C        One              30      52      79
         Two              90      35      46

In [4]:
# Create a pandas DataFrame with columns 'Date' , 'Category' , and Values
import pandas as pd
import numpy as np
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D') # This is a function from the pandas library used to generate a sequence of dates.
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category':np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1,100, size=20)})
print("Orignal DataFrame")
print(df)

# Create a pivot table to compute the sum of value for each category by date 
pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print("Pivot Table:")
print(pivot_table)

Orignal DataFrame
         Date Category  Value
0  2022-01-09        B     30
1  2022-01-04        A     79
2  2022-01-02        C     95
3  2022-01-09        A     43
4  2022-01-10        A     14
5  2022-01-07        B     80
6  2022-01-08        A     44
7  2022-01-09        A     53
8  2022-01-06        A     34
9  2022-01-03        B     85
10 2022-01-05        B     81
11 2022-01-07        B     95
12 2022-01-09        C     90
13 2022-01-07        A     56
14 2022-01-02        B     20
15 2022-01-01        B     43
16 2022-01-01        C      7
17 2022-01-06        C     87
18 2022-01-06        C     19
19 2022-01-05        C      5
Pivot Table:
Category       A      B      C
Date
2022-01-01   NaN   43.0    7.0
2022-01-02   NaN   20.0   95.0
2022-01-03   NaN   85.0    NaN
2022-01-04  79.0    NaN    NaN
2022-01-05   NaN   81.0    5.0
2022-01-06  34.0    NaN  106.0
2022-01-07  56.0  175.0    NaN
2022-01-08  44.0    NaN    NaN
2022-01-09  96.0   30.0   90.0
2022-01-10  14.0    NaN    NaN

In [6]:
# Create a Pnadas DataFrame with columns 'Year', 'Quarter', and Revenue 
df = pd.DataFrame({'Year':np.random.choice([2020, 2021, 2022], size=12), 'Quarter': np.random.choice(['Q1','Q2','Q3','Q4'], size=12), 'Revenue': np.random.randint(1,1000, size=12)})
print("Orignal DataFrame:")
print(df)

# Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'
pivot_table = df.pivot_table(values='Revenue', index='Year', columns='Quarter', aggfunc='mean')
print("Pivot Table:")
print(pivot_table)

Orignal DataFrame:
    Year Quarter  Revenue
0   2022      Q1      898
1   2022      Q4      482
2   2021      Q2      835
3   2020      Q4      402
4   2021      Q3      338
5   2022      Q3      970
6   2021      Q1      116
7   2021      Q2      549
8   2020      Q1      144
9   2022      Q3      510
10  2020      Q4      721
11  2021      Q2      226
Pivot Table:
Quarter     Q1          Q2     Q3     Q4
Year
2020     144.0         NaN    NaN  561.5
2021     116.0  536.666667  338.0    NaN
2022     898.0         NaN  740.0  482.0

In [8]:
# Create a pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1,100, size=(5,3)), columns=['A','B','C'])
print("Orignal DataFrame")
print(df)

# Apply a function that doubles the values of the DataFrame
df_doubled = df.applymap(lambda x:x*2)
print("Doubled DataFrame")
print(df_doubled)

Orignal DataFrame
    A   B   C
0  47  48  30
1  67  82  89
2  15  75  79
3  65  53  29
4  73   7   4
Doubled DataFrame
     A    B    C
0   94   96   60
1  134  164  178
2   30  150  158
3  130  106   58
4  146   14    8

/var/folders/ts/13z74zl15tn6vql6_v6g2dzm0000gn/T/ipykernel_3685/4127404635.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_doubled = df.applymap(lambda x:x*2)

In [ ]:
# Create a Pandas DataFrame with 3 columns and 6 rows filledwith random integers
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(1,100, size=(6,3)), columns=['A','B','C'])
print("Orignal DataFrame")
print(df)

# Apply lambda function to create a new column that is the sum of the existing columns 
df['Sum'] = df.apply(lambda column: column.sum(), axis=1)
print("DataFrame with sum column:")
print(df)

# Rows (axis=0) go vertically (top to bottom)

# Columns (axis=1) go horizontally (left to right)

Orignal DataFrame
    A   B   C
0  31  22  77
1  24  85  49
2  33  73  95
3  75   7  74
4  76  74  71
5  21  39  23
DataFrame with sum column:
    A   B   C  Sum
0  31  22  77  130
1  24  85  49  158
2  33  73  95  201
3  75   7  74  156
4  76  74  71  221
5  21  39  23   83

In [7]:
# Create a pandas series with 5 random text strings 
text_data = pd.Series(['Apple','Banana','Cherry','Avacado'])
print("Orignal Series:")
print(text_data)

# Convert all the strings to uppercase
uppercase_data = text_data.str.upper()
print("Uppercase Series:")
print(uppercase_data)

Orignal Series:
0      Apple
1     Banana
2     Cherry
3    Avacado
dtype: object
Uppercase Series:
0      APPLE
1     BANANA
2     CHERRY
3    AVACADO
dtype: object

In [9]:
# Create a Pandas series with 5 random text strings 
text_data = pd.Series(['Apple', 'Banana', 'Cherry', 'Date'])
print("Orignal Series:")
print(text_data)

# Extract the first three characters of the each string 
first_three_char = text_data.str[:3]
print("First three characters")
print(first_three_char)

Orignal Series:
0     Apple
1    Banana
2    Cherry
3      Date
dtype: object
First three characters
0    App
1    Ban
2    Che
3    Dat
dtype: object