# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [ ]:
# Create a tuple with the first 10 positive integers. Print the tuple.
tpl = tuple(range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
# Print the first, middle, and last elements of the tuple created in Assignment 1.
tpl = tuple(range(1,11))
print(tpl[0])
print(tpl[len(tpl) // 2]) ## we use // because it divides the number and make it as round figure to the near whole no
print(tpl[-1])

1
6
10

In [18]:
# Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
tpl = tuple(range(1,11))
print(tpl[:3])
print(tpl[-3:])
print(tpl[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [22]:
# Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
for row in matrix:
    print(row)

print(matrix[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

In [ ]:
# Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
tpl1 = (1,2,3)
tpl2 = (4,5,6)

concatenated = tpl1 + tpl2
print(concatenated)

(1, 2, 3, 4, 5, 6)

In [ ]:
# Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
print(tpl.count(4)) #count func calculate the count of how many times the number was duplicated 
print(tpl.index(2))

3
1

In [1]:
# Convert a list of the first 5 positive integers to a tuple. Print the tuple.

lst = [1, 2, 3, 4, 5]
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

In [ ]:
# Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

tpl_of_tpls = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(tpl_of_tpls)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [ ]:
# Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
tpl = (1, 2, 3, 4, 5)
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6)

In [7]:
# Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
string = "hello"
tpl = tuple(string)
joined_string = ''.join(tpl)
print(joined_string)

hello

In [1]:
# Create a nested tuple and iterate over the elements, printing each element.
nested_tpl = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
for tpl in nested_tpl:
    for elem in tpl:
        print(elem)

1
2
3
4
5
6
7
8
9

In [2]:
# Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

tpl = (1,2,2,3,4,4,4,5)
unique_set = set(tpl)
print(unique_set)

{1, 2, 3, 4, 5}

In [3]:
# Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1,2,3,4,5)
print(min_in_tuple(sample_tpl))
print(max_in_tuple(sample_tpl))
print(sum_of_tuple(sample_tpl))

1
5
15